/** Media Queries **/

@mixin telefono {
    @media only screen and (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: #{$desktop}) {
        @content;
    }
}

@mixin boton ($color) {
    background-color: $color;
    padding: .5rem 1rem;
    display: block;
    text-align: center;
    color: $blanco;
    text-decoration: none;
}

@mixin box-sizing($box-model) {
    box-sizing: $box-model;
}

@mixin gradiente($color1, $color2) {
    background: linear-gradient(to right, $color1 0%, $color2 100%);
}