.checkbox {
  opacity: 0;
  position: absolute;
}

.dark-mode {
  .label {
    // background-color: #111;
    background-color: #094977;
    .ball {
      background-color: #000;
      border: solid 1px #094977;
    }
  }
}
.label {
  // background-color: #111;
  background-color: #88c8f7;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 5px;
  position: relative;
  height: 15px;
  width: 42px;
  // transform: scale(1.3);
  margin-top: 22px;
}

.label .ball {
  border: solid 1px #88c8f7;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  height: 24px;
  width: 24px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
  padding-left: 3px;
}

.checkbox:checked + .label .ball {
  transform: translateX(18px);

  .ball {
    padding-top: 2px;
  }

  .fa-moon {
    color: #f1c40f;
    display: block;
    margin-top: 3px;
  }
  .fa-sun {
    margin-top: -2px;
    color: #fcca05;
    display: none;
  }
}

.fa-moon {
  color: #f1c40f;
  display: none;
}
.fa-sun {
  padding-top: 1px;
  color: #fcca05;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
  position: fixed;
  right: 0;
  bottom: 80px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}
