$ph-bg:                   #fff !default;
$ph-color:                #ced4da !default;
$ph-border-radius:        2px !default;

$ph-gutter:               30px !default;
$ph-spacer:               15px !default;

$ph-avatar-border-radius: 50% !default;

$ph-animation-duration: .8s !default;


// Fuentes
$fuente_principal: 'Raleway',
sans-serif;
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
// Colores
$primario: #33C3F0;
$secundario:#741d51;
$terciario: #e44e52;
$gris: #f2f2f2;
$blanco: #FFFFFF;