@import "bootstrap/bootstrap";
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

@import "placeholder-loading";
@import "plugin-perfect-scrollbar";

// @import "vendor/font-awesome/css/font-awesome.css";

////////
.lds-dual-ring-sm,
.lds-dual-ring-sm-w {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.lds-dual-ring-sm-w:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-color: #ffffff transparent #ffffff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring-sm:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
  border-radius: 50%;
  border: 2px solid #6252f3;
  border-color: #6252f3 transparent #6252f3 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #6252f3;
  border-color: #6252f3 transparent #6252f3 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.video-container {
  display: flex;
  max-height: 420px;
  overflow: hidden;
  background-color: #14171c;
}

.video-container .video-js,
.video-container video,
.video-container object,
.video-container embed,
.video-container div {
  max-height: 420px;
  height: 100%;
}

.comments-container {
  margin: 50px auto 15px;
  width: 100%;
}

.comments-container * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #ece7e7;
  position: absolute;
  left: 25px;
  top: 0;
}
.replys > .comments-list:before {
  height: 102%;
  background: #ece7e7;
  left: 25px;
  top: -30px;
}

.replys > .comments-list {
  margin-left: -26px;
}

.reply-list:before,
.reply-list:after {
  display: none;
}

.reply-list:before {
  content: "";
  width: 60px;
  height: 2px;
  background: #e8e2e2;
  position: absolute;
  top: 25px;
  left: -41px;
}

.comments-list li {
  display: block;
  position: relative;
}

.comments-list li:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 66px;
  clear: both;
  margin-top: 15px;
}

/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 99;
  float: left;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

.reply-list .comment-avatar {
  width: 50px;
  height: 50px;
}

.comment-main-level:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
  width: 100%;
  float: right;
  position: relative;

  border: 1px solid #e5e5e5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #fcfcfc;
  top: 8px;
  left: -11px;
}

.comments-list .comment-box:before {
  border-width: 10px 13px 11px 0;
  border-top-width: 10px;
  border-right-width: 13px;
  border-bottom-width: 11px;
  border-left-width: 0px;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -14px;
}

.reply-list .comment-box {
  // width: 610px;
}
.comment-box .comment-head {
  background: #fcfcfc;
  padding: 10px 12px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #a6a6a6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
  color: #03658c;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-name a {
  color: #283035;
}

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px;
}

.comment-box .comment-content {
  background: #fff;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
  color: #03658c;
}
.comment-box .comment-name.by-author:after {
  content: "autor";
  background: #03658c;
  color: #fff;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.mt-neg {
  margin-top: 0px;
}

@media (min-width: 992px) {
  .mt-neg {
    margin-top: -150px;
  }
}

@import "variables";
@import "mixins";
html {
  @include box-sizing(border-box);
}

*,
*:after,
*:before {
  @include box-sizing(inherit);
}

body {
  font-family: $fuente_principal;
}

.contenedor {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.centrado {
  text-align: center;
}

.oculto {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    padding: 1.4rem 0;
  }
}

.carrito-compras {
  position: relative;
  .contenido {
    display: none;
  }
  &:hover .contenido {
    display: block;
    position: absolute;
    right: 0;
    background-color: $blanco;
    padding: 1rem;
    width: 400px;
    .boton {
      @include boton($secundario);
    }
  }
}

.hero {
  // background-image: url(img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 24rem;
  color: $blanco;
  align-items: center;
  display: flex;
  .contenido-hero {
    h2 {
      font-family: $fuente_principal;
      font-weight: 400;
      font-size: 2.6rem;
    }
    p {
      font-size: 1rem;
    }
    form {
      position: relative;
      @include tablet() {
        width: 40%;
      }
      input[type="submit"] {
        position: absolute;
        right: 0;
        top: 0.1rem;
        text-decoration: none;
        border: none;
        text-indent: -9999px;
        display: block;
        // background-image: url(img/lupa.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: calc(3rem - 10px);
        height: calc(3rem - 10px);
        background-color: $blanco;
      }
      input[type="text"] {
        width: 100%;
        height: 3rem;
      }
    }
  }
}

.barra {
  min-height: 5rem;

  color: $blanco;
  background: linear-gradient(to right, #2e2971 0%, #6252f3 100%);
  .iconos {
    flex-direction: column;
    @include desktop() {
      flex-direction: row;
    }
    display: flex;
    padding: 1.4rem 0;
    .icono {
      flex: 1;
      background-repeat: no-repeat;
      background-position: left center;
      text-align: center;
      background-size: 2.4rem;
      // &.icono1 {
      //   background-image: url("public/img/icono1.png");
      // }
      // &.icono2 {
      //   background-image: url("public/img/icono2.png");
      // }
      // &.icono3 {
      //   background-image: url("public/img/icono3.png");
      // }
    }
  }
}

.svg-inline--fa {
  width: 1em !important;
  max-width: 1em;
  max-height: 1em;
}

.fa-2x {
  width: 2em !important;
  max-width: 2em;
  max-height: 2em;
}

.fa-3x {
  width: 3em !important;
  max-width: 3em;
  max-height: 3em;
}

/** Cursos **/

.cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  .curso {
    .imagen-curso {
      width: 100%;
    }
    flex: 0 1 calc(50% - 1rem);
    @include tablet() {
      flex: 0 1 calc(33% - 1rem);
    }
    @include desktop() {
      flex: 0 1 calc(25% - 1rem);
    }
    background-color: $blanco;
    margin-bottom: 1rem;
    border: 1px solid #e1e1e1;
    .info-curso {
      padding: 1rem 1rem;
      h4 {
        margin: 0;
        font-size: 1.2rem;
      }
      .boton {
        @include boton($primario);
      }
      .precio {
        display: flex;
        justify-content: space-between;
        .oferta {
          text-decoration: line-through;
          font-size: 1.4rem;
          font-weight: 700;
        }
      }
    }
  }
}

.footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 1rem;
  padding-top: 2rem;
  .contenedor-footer {
    display: flex;
    flex-direction: column;
    @include telefono() {
      flex-direction: row;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  @include telefono() {
    flex: 1;
  }
  @include desktop() {
    flex: 0 1 calc(30% - 1rem);
  }
  a {
    color: black;
    text-decoration: none;
    margin-bottom: 0.4rem;
  }
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #2c3e50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.border-bottom2 {
  border-bottom: 2px solid #3c3b37;
  margin-bottom: -1px;
}
.bgstyle {
  background: linear-gradient(
    136deg,
    #0a89a8,
    #09104b,
    #402786,
    #132663,
    #050831,
    #08214eef
  );
  /* background: linear-gradient(136deg, #02080f, #0d5cb6, #0acafa, #9b59b6); */

  background-size: 1200% 1200%;
  -webkit-animation: AnimationName 45s ease infinite;
  -moz-animation: AnimationName 45s ease infinite;
  -o-animation: AnimationName 45s ease infinite;
  animation: AnimationName 45s ease infinite;
  height: 100%;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

.divider-custom {
  margin: 1rem 0 1.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.2rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 1.5rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}

.my-navbar {
  background: transparent;
  width: 100%;

  .hamburger {
    z-index: 3123;
    top: 1.6rem;
    right: 1.8rem;
    display: none;
    cursor: pointer;
    transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    position: absolute;

    @media (max-width: 960px) {
      display: block;
    }
    .bar {
      width: 1.6rem;
      height: 0.15rem;
      margin-bottom: 0.3rem;
      background-color: #fff;
      transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91),
        opacity 500ms, box-shadow 250ms, background-color 500ms;

      @media (max-width: 600px) {
        width: 1.6rem;
      }
    }
  }

  .nav-links {
    padding: 1rem;

    a {
      color: #fff;
      text-decoration: none;
      margin-bottom: 0.5rem;

      @media (max-width: 960px) {
        color: #000;
      }
    }
  }
}

.my-navbar-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  transition: 0.4s;
}

.sidebar {
  position: fixed;
  z-index: 4;
  overflow: auto;
  top: 0px;
  right: -275px;
  width: 0;
  opacity: 0;
  height: 100%;
  background-color: #fff;
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
